{{> header}}
<div class="container mt-5">
  {{#each posts}}
  <div class="post card mb-3">
    <div class="card-body">
      <h2 class="card-title"><a href="/post/{{this.id}}">{{this.title}}</a></h2>
      <p class="card-text">{{this.content}}</p>
      <p class="card-text"><small class="text-muted">by {{this.user.username}} on {{this.createdAt}}</small></p>
    </div>
  </div>
  {{/each}}
</div>
{{> footer}}
